* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

img {
    max-width: 100%;

}

.container {
    border: 1px solid green;
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
}


/*  HEADER */
header {

    border: 1px solid green;
    width: 950px;
    height: 50px;
    background-color: #fe8936;
    color: white;
    word-spacing: 8px;
    padding: 1rem;

    .logo {
        width: 100px;
        height: 23px;
        filter: brightness(1.5);
        /* background-image: url(../img/boolean-logo.png);
        background-size: contain;
        background-repeat: no-repeat; */
    }

    .container {
        /* position: sticky; */
        top: 0;
        left: 0;
        z-index: 1000;
    }
}


/* MAIN */
main {
    border: 1px solid green;
    width: 950px;
    height: 1200px;

    .container {
        height: 100%;
        margin: 20px auto;

    }

    .row {
        display: flex;
        margin: 0 -1rem;
    }

    .col-4 {
        width: calc(100% / 12 * 4);
        padding: 1rem;
    }

    .card {
        position: relative;
        /* box-shadow: 0 0 10px lightgrey; */

        .fa-heart {
            color: crimson;
        }

        .bookmark {
            background-color: aliceblue;
            padding: 0.35rem;
            position: absolute;
            top: 1rem;
            right: 0;
            z-index: 3;

        }

        .discount {
            background-color: red;
            padding: 1px;
            width: 30px;
            position: absolute;
            bottom: 1rem;
            left: 0;
            z-index: 3;
        }

        .sustainable {
            background-color: rgb(11, 178, 30);
            padding: 1px;
            width: 30px;
            position: absolute;
            bottom: 1rem;
            left: 0;
            z-index: 3;
        }
    }
}

p {
    font-size: 0.8rem;
}

.caps {
    text-transform: uppercase;
}

.red_price {
    color: red;
    text-decoration: line-through red;
}