* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}


/*  HEADER */
#app_header {
    width: 1200px;
    height: 50px;
    background-color: #fe8936;
    color: white;
    word-spacing: 8px;
    padding: 0.8rem 0rem;
    position: fixed;
    z-index: 2;

    .logo {
        width: 100px;
        height: 23px;
        filter: brightness(1.5)
    }

    .container {
        /* position: relative; */
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    img {
        height: 100%;
    }
}


/* MAIN */
main {
    border: 1px solid green;
    width: 1200px;

    .container {
        margin: 75px auto;

    }

    .row {
        display: flex;
        margin: 0 -1rem;
    }

    .col-4 {
        width: calc(100% / 12 * 4);
        padding: 1rem;
    }

    .card {
        position: relative;
        /* box-shadow: 0 0 10px lightgrey; */

        .fa-heart {
            color: crimson;
        }

        .bookmark {
            background-color: white;
            padding: 0.35rem;
            position: absolute;
            top: 1rem;
            right: 0;
            z-index: 3;

        }

        .discount {
            background-color: rgb(225, 44, 44);
            padding: 0.1rem 0.5rem 0.3rem 0.4rem;
            width: 50px;
            position: absolute;
            bottom: 1rem;
            left: 0;
            z-index: 3;
            text-align: center;
            color: white;
        }

        .sustainable {
            background-color: rgb(38, 135, 49);
            padding: 0.2rem 0.5rem 0.3rem 0.4rem;
            width: 100px;
            position: absolute;
            bottom: 1rem;
            left: 3.3rem;
            z-index: 3;
            text-align: center;
            color: white;
        }

        .sustainable.img_6 {
            left: 0rem;
        }
    }
}

p {
    font-size: 0.8rem;
}

.caps {
    text-transform: uppercase;
    font-weight: bold;
}

.red_price {
    color: red;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.line_through {
    text-decoration: line-through;
}

.img_1:hover {
    background-image: url(../img/1.jpg);
    background-size: cover;
}

#app_footer {
    background-color: black;
    color: white;
    width: 1200px;
    height: 70px;
    ;
}

.row_footer {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5rem;
}